.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 1000;
}

@include screen-1200 {
  .l-header {
    display: block;
  }
}
